<div [ngClass]="isDarkTheme ? 'define-dark-theme':'define-light-theme'">
  <mat-card class="main-card">
    <mat-card class="data-card">
      <div class="main-header">
        <div class="search-div">
          <div class="app-search mr-10">
            <input [ngClass]="isDarkTheme ? 'dark-theme':'light-theme'" type="text" placeholder="Search"
              class="form-control w-100" #searchInput>
          </div>
          <button [ngClass]="isDarkTheme ? 'dark-theme':'light-theme'" (click)="changeTheme()" *ngIf="!isDarkTheme"
            class="theme-button">
            Dark Theme
          </button>
          <button [ngClass]="isDarkTheme ? 'dark-theme':'light-theme'" (click)="changeTheme()" *ngIf="isDarkTheme"
            class="theme-button">
            Light Theme
          </button>
          <button (click)="refreshPage()" [ngClass]="isDarkTheme ? 'dark-theme':'light-theme'" class="theme-button">
            Refresh Page
          </button>
        </div>
        <div>
          <svg (click)="logout()" class="log-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M534.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L434.7 224 224 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM192 96c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-53 0-96 43-96 96l0 256c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z" />
          </svg>
        </div>

      </div>

      <div class="main-div">

        <div *ngFor="let recent of movies">
          <div (click)="viewDetails(recent)" class="app-block">


            <div class="top-img">
              <img [src]="recent.imgUrl" alt="">
            </div>

            <div class="top">

              <h2 class="title">{{recent.title}}</h2>


            </div>

            <div class="bottom">

              <p class="description">
                {{recent.description}}
              </p>

              <p class="genre-head">
                Genres
              </p>

              <p *ngIf="recent.genres !==''" class="genres">
                {{recent.genres}}
              </p>
              <p *ngIf="recent.genres ===''" class="genres">
                not known
              </p>
            </div>



          </div>
        </div>
        <div class="no-data" *ngIf="movies.length===0">
          No data exist
        </div>
      </div>
    </mat-card>

    <mat-card class="bottom-card">

      <div class="d-flex justify-content-between align-items-center custom_paginator paginator-top w-100">

        <p-paginator [ngClass]="isDarkTheme ? 'dark-theme':'light-theme'" class="custom_paginator" [rows]="20"
          [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} - {last} of {totalRecords}"
          (onPageChange)="loadMovies($event)" [rowsPerPageOptions]="[10]" [pageLinkSize]="3"
          [totalRecords]="totalRecords"></p-paginator>


      </div>
    </mat-card>
  </mat-card>
</div>

<p-dialog [ngClass]="isDarkTheme ? 'dark-theme':'light-theme'" *ngIf="detailsModal" header="Details"
  [(visible)]="detailsModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
  <div>

    <div class="dialog-top">
      <div class="dialog-img">
        <img [src]="selected.imgUrl" alt="">
      </div>
      <div class="dialog-title">
        <h2>{{selected.title}}</h2>
      </div>
    </div>

    <div class="dialog-description">
      <h3 class="dialog-desc-title">Description</h3>
      <p class="dialog-desc-description">
        {{selected.description}}
      </p>
    </div>

    <div class="dialog-genres">
      <h3 class="dialog-desc-title">Genres</h3>
      <p *ngIf="selected.genres !==''">
        {{selected.genres}}
      </p>
      <p *ngIf="selected.genres ===''">
        not known
      </p>
    </div>

    <div class="dialog-button">
      <button (click)="detailsModal=false;" class="theme-button">Close</button>
    </div>

  </div>
  <p-footer>
  </p-footer>
</p-dialog>