<section class="main">
  <section class="header">
    <div class="left-portion">
      <img class="logo" src="./../../../../assets/images/log.png" alt="">
      <div class="app-search">
        <input type="text" placeholder="Search" class="form-control w-100">
      </div>
    </div>
    <div>
      <!-- <div class="logged-in-user">
        <img src="{{profileImg}}" alt="User">
      </div> -->
      <div (click)="logout()" class="right" >
        <em [appAppSvgIconDirective]="'logout'" ></em>
      </div>
    </div>
  </section>

  <section class="center-div">
    <div class="main-center-div">
      <div class="sidebar-div">
        <div class="top">
          <div class="back-div">
            <img class="profile" src="./../../../../assets/images/profile.png" alt="">
          </div>
          <p>Ali Abbas</p>
        </div>

        <div class="sidebar" >
          <ul>
            <li class="active" routerLink="/dashboard" routerLinkActive="active" >
               <em [appAppSvgIconDirective]="'dashboard'" ></em>
               <p>Dashboard</p>
              </li>
              <li>
                <em [appAppSvgIconDirective]="'home'" ></em>
                <p>Home</p>
               </li>
               <li>
                <em [appAppSvgIconDirective]="'employees'" ></em>
                <p>Employees</p>
               </li>
               <li>
                <em [appAppSvgIconDirective]="'phone'" ></em>
                <p>Contacts</p>
               </li>
               <li>
                <em [appAppSvgIconDirective]="'settings'" ></em>
                <p>Settings</p>
               </li>
          </ul>
        </div>

      </div>

      <div class="sub-center-div">
        <div class="head">
          <h2>Tasks</h2>
          <div class="ul-list">
            <ul>
              <li (click)="daily=true;month=false;pending=false" [class.active-li]="daily">
                Daily
              </li>
              <li (click)="daily=false;month=false;pending=true" [class.active-li]="pending">
                Pending
              </li>
              <li (click)="daily=false;month=true;pending=false" [class.active-li]="month">
                Monthly
              </li>
            </ul>
          </div>
        </div>

        <div class="last">
          <div class="mid">


            <p-table *ngIf="daily" [value]="products" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Alloted To</th>
                  <th>Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.task}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.status}}</td>
                </tr>
              </ng-template>
            </p-table>

            <p-table *ngIf="pending" [value]="pendingTasks" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Alloted To</th>
                  <th>Alloted On</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.task}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.status}}</td>
                </tr>
              </ng-template>
            </p-table>

            <p-table *ngIf="month" [value]="monthlyTasks" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Alloted To</th>
                  <th>Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.task}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.status}}</td>
                </tr>
              </ng-template>
            </p-table>

          </div>
          <div class="bot">

            <div class="head">
              <h2>Revenue Details</h2>
            </div>

            <div class="bottom">
              <div class="first">
                <p class="p1">Today</p>
                <p class="p2">$2000</p>
              </div>
              <div class="first">
                <p class="p1">This Month</p>
                <p class="p2">$60000</p>
              </div>
              <div class="first">
                <p class="p1">This Year</p>
                <p class="p2">$720000</p>
              </div>
            </div>

          </div>
        </div>


      </div>

      <div class="right">
        <div class="top">
          <div class="head">
            <h2>Star Performers</h2>
          </div>
          <div class="sub-bottom">
            <div class="main-sub">

              <div style="margin-right: 20px;" class="img-div">
                <img [src]="boy" alt="" class="image">

                <p class="product-name">Amit Juneja</p>
                <p class="description"> Frontend Developer
                  <!-- <span>20% off</span>  -->
                  <!-- Only on $200 -->
                </p>

              </div>

              <div class="img-div">
                <img [src]="girl" alt="" class="image">
                <p class="product-name">Parul Singh</p>
                <p class="description"> Backend Developer
                  <!-- <span>35% off</span> Only on $300 -->
                </p>
              </div>

            </div>


          </div>
        </div>
        <div class="bottom">
          <div class="head">
            <h2>Task Status Daily vs Monthly</h2>
          </div>
          <div class="sub-bottom">

            <!-- <p-chart type="pie" [data]="data" [options]="chartOptions"  [style]="{'height': '200px'}"></p-chart> -->

            <div class="doughnut-div">
              <p-chart type="pie" [data]="data2" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
            </div>

            <div class="doughnut-div">
              <p-chart type="pie" [data]="data" [options]="chartOptions2" [style]="{'width': '40%'}"></p-chart>
            </div>



          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="footer">
    <p class="foot-para">Created by Ali Abbas</p>
  </section>
</section>